body {
    font-family: sans-serif;
    margin: 0;
    color: #67c299;
    background-color: #121212;
    text-align: center;
}

.error {
    color: crimson;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #141414;
  color: white;
  text-align: center;
}
