<!DOCTYPE html>
<head>
    <title>AI-based Audio-to-MIDI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>AI-based Audio-to-MIDI</h1>
    <p>This is Audio-to-MIDI generator based on Basic Pitch model by Spotify</p>
    <p>Upload .mp3/.ogg/.wav/.flac/.m4a audio file and press "Generate!" to convert it into MIDI file.</p>
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Audio file:</label>
            <input class="form-control" type="file" id="formFile" name="audioFile">
        </div>  
        <button type="submit" class="btn">Generate!</button>
    </form>
    <p class="error">{{ error }}</p>
    <div class="footer">
        <a href="https://github.com/SparkerXof/Audio-To-MIDI">GitHub</a> <a href="https://github.com/spotify/basic-pitch">Basic Pitch</a>
    </div>
</body>
